.home-container{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.home-page {
  display: flex;
  flex-direction: column;
}

/* button */
.btn-letgo {
  width: 8rem;
  padding: 0.4rem;
  margin: auto;
  margin-top: 4vh;
  border-radius: 5px;
  color: #d7dee5;
  background: #0f1419;
}
.btn-letgo:hover {
  background: #052749;
}
