.home-page {
  display: flex;
  flex-direction: column;
  margin: 18%;
  justify-content: center;
  text-align: center;

  /* vertical-align: middle; */
  /* align-content: center; */
}

/* for coloring microsft edge */

.spacialcolor {
  position: absolute;
  width: 100px;
  background: linear-gradient(
    45deg,
    red 0%,
    orange 25%,

    blue 100%
  );
  z-index: -1;
}

.home-page h3 {
  /* position: relative; */
}
.span-back {
  /* background: linear-gradient();
     */
  /* position: absolute; */
  /* z-index: 5; */
  color: #1a3f65;

  /* background: linear-gradient(
    45deg,
    red 0%,
    orange 25%,

    blue 100%
  ); */
}

/* button */
.btn-letgo {
  width: 8rem;
  padding: 0.4rem;
  margin: auto;
  margin-top: 4vh;
  border-radius: 5px;
  color: #d7dee5;
  background: #0f1419;
}
.btn-letgo:hover {
  background: #052749;
}
