.getstarcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}
.div-container-card {
  display: flex;
  height: 65vh;
  justify-content: center;
  gap: 5%;
  margin: 4.5vh 0;
}
.width-fix {
  width: 14vw;
}
@media screen and (max-width: 1047px) {
  .getstarcontainer {
    align-self: flex-start;
    /* min-height: 500vh; */
  }
  .div-container-card {
    flex-direction: column;
    height: 50vh;
    overflow: scroll;
    gap: 2vh;
  }
  .width-fix {
    width: auto;
  }
  .my-btn-77 {
    font-size: 70%;
  }
}
